body{
  overflow-x: hidden;
}


.landing{
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16%;
    text-align: center;
    color: beige;
    font-style: normal;
    font-size: 100px;
}
.contact h2{
    text-align: center;
    margin-top: 20px;
    color: black;
    font-size: 50px;
}
#logo{
    margin-top: 12px;
    margin-bottom: 24px;
    width: 70px;
     height: 70px;
}

.landing h1{
  padding: 6px;
  margin: 6px;
 font-size: xx-large;
 

}
.landing p{
  padding: 2px;
  font-size: x-small;
}
.mouse{
  padding-top: 15%;
  padding-bottom: 1%;
}


.mouse{
    
    padding-top: 22px;
    margin-top: 10%;
    padding-bottom: 20px;
}
.mouse {
  animation: bounce 2s infinite;

}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}
.about{
    text-align: center;
    font-style: normal;

}
.services{
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    text-align: center;
    color: beige;
    font-style: normal;

}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:6%;
    margin-right: 16%; 
  }
  .portfolio h2{
    text-align: center;
    padding-top:16%;
  }
  .contact {
    background-image: url('../assets/backgrounds/c_image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0%;
    padding-bottom: 10%;
    color: white;
    

}
footer{
    text-align: center;
    padding-top: 30px;
}
.form-group form-inline{
    text-align: center;
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
}
.contact h2{
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    
}
#text{
    font-size: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.overlay{
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

  
  .work-image{
    position: relative;
  
  }
  .wonger{
    
    width: 80%;
    height: 80%;
    border: 2px solid black;
    margin-left: 0%;
    margin-top: 10%;
  }
  .wonger h1{
    text-align: center;
    font-size: 25px;
    padding-top: 50%;
    font-style:oblique;
  
  }
  #form{
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0%;
    padding-bottom: 10%;
    color: white;
    
  }
  .input{
    display: inline;

  
  }
  #form input{
    width:35%;
    background-color: transparent;
  
  }
  #name{
    margin-left: 12%;
    color :darkgray;
  }
  #email{
    margin-left:5%;
    color:darkgray;
  }
  #form textarea{
    background-color: transparent;
    color: white;
  }
  #email::placeholder{
    color: white;
  }
  
  #name::placeholder{
    color: white;
  }
  textarea::placeholder{
    color: white;
  }
  .icon{
    padding-left: 20px;
  }
  #design{
    display: none;
  }
  #development{
    display: none;
  }
  #product-mgt{
    display: none;
  }
  
  #overlay,#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8 {
      display: none;
      background-color: white;
      opacity:0.9;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 90%;
      
  
  }
  
  