.landing{
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 17%;
    text-align: center;
    font-style: normal;
}
#logo{
    margin-top: 12px;
    margin-bottom: 24px;
    width: 70px;
     height: 70px;
}

.landing h1 h2{
  padding: 2px;
  margin: 5px;
 font-size: xx-large;

}
.landing p{
  padding: 2px;
  font-size: x-small;
}

.mouse-click{
    padding-top: 22px;
    margin-top: 10%;
    padding-bottom: 20px;
}
.about{
    text-align: center;
    font-style: normal;

}
.services{
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    text-align: center;
    color: beige;
    font-style: normal;

}
